button{
    height: 50px;
    width: 70px;
    margin-left: 30px;
    background-color: #066acd;
    border-radius: 5px;
    border: 0;
    font-weight: 500;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}